<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button><a href="/">Homepage</a></button>
    <br />
    <br />
    <br />
    <h1><%= singleProduct.name %></h1>
    <h2><%= singleProduct.price %></h2>
    <p><%= singleProduct.description %></p>
    <button>
      <a href="/<%= singleProduct._id%>/edit">Edit this product</a>
    </button>
    <form action="/<%= singleProduct._id %>?_method=DELETE" method="post">
      <button type="submit">Delete this product</button>
    </form>
  </body>
</html>
